<ng-container *ngIf="!userProf">
    <div class="screen-wrapper">
        <div class="screen-header">
            <div class="header-list-icon">
                <i class="fas fa-angle-left fa-lg" style="color: #000205"></i>
            </div>
            <div class="header-profile" (click)="showserProf()">
                <img src="../../assets/images/profile/9Nq36hXx4y.png" alt="Profile Pic">
            </div>
        </div>
        <div class="main-body-card">
            <div class="welcome-details" *ngIf="!searchType">
                <div class="welcome-details-set">
                    <!-- Example single danger button -->
<div class="btn-group">
    <!-- <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action
    </button> -->
    <i class="fas fa-caret-down fa-2x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>&nbsp;&nbsp;
    <div class="dropdown-menu"> 
      <i *ngIf="!isFullScreen" class="fa-solid fas fa-expand fa-lg" (click)="fullScreen()"></i>&nbsp;
      <i *ngIf="isFullScreen" class="fa-solid fas fa-compress" (click)="fullScreen()"></i>&nbsp;
      <span *ngIf="!isFullScreen">Maximize</span>
      <span *ngIf="isFullScreen">Minimize</span>
      <div class="dropdown-divider"></div>
      <i class="fas fa-envelope fa-lg "(click)="goToChatPage()"></i>&nbsp;
      Text
      <div class="dropdown-divider"></div>
      <i class="fas fa-ban fa-lg"></i>&nbsp;
      Stop stream
     </div>
  </div>



             
                    <div class="welcome-text">Hello, Chittibabu</div>
                    <div class="welcome-sub-text">What you want to hear today?</div>
                </div>
                <div class="search-set" (click)="SearchAction()">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div style="padding: 17.5px 18px;" *ngIf="searchType">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="text" value="" placeholder="Search">
                    <button (click)="SearchAction()">
                        <i class="fas fa-times"></i>
                    </button> 
                </div>
            </div>
            <div class="sub-title-text">Albums</div>

            <div class="album-carousel-set">
         <div class="album-carousel-card"  [style.background-image]="'url(' +   + ')'" (click)="openModal()">
                    <div class="play-card">
                        <div class="play-card-details">
                            <div class="play-card-title">Clouds</div>
                            <div class="play-card-sub">Playd Bone</div>
                        </div>
                        <div class="play-card-icon">
                            <i class="fas fa-play"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="time-set">{{item.duration | SecondsToMinutesPipe}}</div> -->


        <div class="sub-title-text">Recently Played</div>
        <ul  *ngIf="!songsListShimmer" class="play-list-set">
            <ng-container *ngFor="let item of recommendations let i=index">
                <li>
                    <div class="play-list-set-item" (click)="PlayerAction(item,i);play=true">
                        <div class="play-list-left">
                            <div class="play-list-imag">
                                <img [src]=item.s_pic_path alt="">
                            </div>
                            <div class="play-details-set">
                                <div class="play-name">{{item?.s_displayName ? item?.s_displayName :'&mdash;' }}</div>
                                <div class="play-sub-name">{{item?.artist ? item?.artist :'&mdash;' }}</div>
                            </div>
                        </div>
                        <div class="play-list-right">
                            <div class="time-set">{{item.duration}}</div>
                            <div class="play-options">
                                <a class="">
                                    <i class="far fa-ellipsis-vertical"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <a class="icon-heart" [ngClass]="{'active': selected == true}" (click)="selectedAction()">
                        <i class="far fa-heart"></i>
                    </a> -->
                </li>
            </ng-container>
        </ul>
        <ng-container *ngIf="songsListShimmer">
            <div *ngFor="let item of [1,2,3,4,5,6]" class="shimmer" ></div>
        </ng-container>
    </div>





    <!-- uncomment this -->

    <div class="palyer-wrapper" [ngClass]="{'active': playerType}">
        <div class="player-card">
            <div class="player-card-header">
                <div class="player-back">
                    <i class="fas fa-chevron-down" (click)="playerType=false"></i>
                </div>
                <div class="player-song-details">
                    <div class="player-title">Playing From Album</div>
                    <div class="player-album-name">Daddy</div>
                </div>
                <div class="player-options" (click)="PlayersOptions()">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="music-card">
                <div class="music-details">
                        <img  [hidden]="!picLoaded" (load)="songPicLoaded()" [src]="songPic" alt="artist Cover" id="cover" />
                    </div>
                    <div  [hidden]="picLoaded" class="loader-div">
                        <div class="loader"></div>
                    </div>
                <div class="play-inner-details-set">
                    <div class="play-details">
                        <h2 class="music-card-titre">{{songName}}</h2>

                        <!-- <span class="music-card-artist">{{artistName}}</span> -->
                    </div>
                    <!-- <div class="play-like">
                        <span class="fa-heart" [ngClass]="songStatus ? 'fas' : 'far'"(click)="statusAction()"></span>
                    </div> -->
                </div>
                <div class="music-card-controllers">
                    <!-- <input type="range" value="0" id="tracker" /> -->
                    <div class="music-tag">
                        <audio #audioPlayer controls [src]="audioUrl"  (seeked)="onSeeking($event)"
                            controlsList="nodownload noplaybackrate">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="music-card-time-set">
                        <span class="music-card-controllers-time" id="current-time">{{currentTime}}</span>
                        <span class="music-card-controllers-time" id="info-time">{{totalTime}}</span>
                    </div>
                </div>
                <div class="music-card-actions">
                    <button id="prev">
                        <span class="fas fa-random" (click)="getRecommendationList({shuffle:true})"></span>
                    </button>
                    <button id="backward" (click)="playPrevious()">
                        <span class="fas fa-step-backward"></span>
                    </button>
                    <button class="music-card-actions-main" tabindex="0">
                        <span *ngIf="play && !isConnected" class="fas fa-play" (click)="playAudio(1)"></span>
                        <span *ngIf="!play && !isConnected" class="fas fa-pause" (click)="playAudio(0)"></span>

                        <span *ngIf="playConnection && isConnected" class="fas fa-play"  (click)="playGrpAudio('play')"></span>
                        <span *ngIf="!playConnection && isConnected" class="fas fa-pause" (click)="playGrpAudio('pause')"></span>
                    </button>
                    <button id="forward">
                        <span class="fas fa-step-forward" (click)="playNext()"></span>
                    </button>
                    <button id="next">
                        <span class="fas fa-retweet"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>




    <div class="play-list-options-card" [ngClass]="{'active': playerOptions}">
        <div class="play-list-options-card-header">
            <span class="close" (click)="PlayersOptions()">
                <!-- <i class="fas fa-times"></i> -->
            </span>
        </div>
        <div class="play-list-options-card-body">
            <li *ngFor="let item of optionsList; let i = index">
                <div class="play-list-options" *ngIf="item.itemName != 'Connect a friend'"  (click)="optionSelected(item)">
                    <i class="fas fa-{{item.itemIcon}}"></i>
                    {{item.itemName}}
                </div>
                <div class="play-list-options" *ngIf="item.itemName == 'Connect a friend'"  data-target="#exampleModalCenter" data-toggle='modal' (click)="optionSelected(item)">
                    <i class="fas fa-{{item.itemIcon}}"></i>
                    {{item.itemName}}
                </div>
            </li>
        </div>
    </div>

    <div class="modal-wrap" [ngClass]="{'active': modalActive}">
        <div class="modal-set">
            <div class="modal-header">
                <div class="modal-title" *ngIf="!addingToPlayListCheck" data-target="#exampleModalCenter" data-toggle='modal' (click)="addPlaylist()">+Add Playlist</div>
                <div class="modal-close" (click)="closeModal();addingToPlayListCheck=false">
                    <i class="fas fa-times"></i></div>
            </div>
            <div class="modal-body">
                <ul class="modal-play-list-set">

                    <li class="modal-play-list-item" *ngFor="let item of playLists;let i=index">
                            <div class="album-carousel-card"  [style.background-image]="'url(' + item.s_pic_path + ')'" (click)="playListfunctionCall(item,i)" >
                            <div>
                                <!-- <i class="fa-regular fas fa-circle"></i> -->
                                <i *ngIf="addingToPlayListCheck&&checkedIndex!=i" class="fa-light fas fa-circle" style="color: white;"></i>
                                <i *ngIf="addingToPlayListCheck&&checkedIndex==i" class="fas fa-check-circle" style="color: white;"></i>
                            </div>
                            <div class="play-card" >
                                <div class="play-card-details" >
                                    <div class="play-card-title">{{item.playListName}}</div>
                                    <!-- <div class="play-card-sub">Playd Bone</div> -->
                                </div>
                                <!-- <div class="play-card-icon">
                                    <i class="fas fa-play"></i>
                                </div> -->
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="userProf">
    <app-emp-pro (closeEmpView)="closeView($event)"></app-emp-pro>
</ng-container>



<div class="modal fade modal-sm" id="connectFrndModel" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content smaller-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">What are you?</h5>
      </div>
      <ng-container  [formGroup]="inputFieldForm">
        <div class="modal-body">
            <div *ngIf="inputFieldForm.value.radioValue==1">
                <input class="form-control" formControlName="inputData" formControlName="inputData" placeholder="Enter Room Code">
              </div>
              <div *ngIf="inputFieldForm.value.radioValue==2">
                {{userID}}
                <i class="fas fa-copy" (click)="copyToClipBoard()" ></i>
              </div>
            <ng-container *ngIf="inputFieldForm.value.radioValue==''">
          <div class="form-check">
            <input type="radio" id="radio1" value="2" class="form-check-input" formControlName="radioValue">
            <label for="radio1" class="form-check-label" >Host</label>
          </div>
          <div class="form-check">
            <input type="radio" id="radio2" value="1" class="form-check-input" formControlName="radioValue">
            <label for="radio2" class="form-check-label" >Guest</label>
          </div>
        </ng-container>
        </div>
      </ng-container>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="connectFrnd()" >confirm</button>
      </div>
    </div>
  </div>
</div>


<!-- adding a playlist model -->
<div class="modal fade modal-sm" id="addPlayListModel" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content smaller-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Playlist</h5>
      </div>
      <ng-container  [formGroup]="playListForm">
        <div class="modal-body">
            <div >
                <input class="form-control" formControlName="playListName"  placeholder="Enter Playlist Name">
              </div>
        </div>
      </ng-container>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createPlaylist()" >+Add</button>
      </div>
    </div>
  </div>
</div>