<div class="profile-page">
    <div class="profile-page-header">
        <div class="header-back-btn"><i class="fas fa-arrow-left" (click)="closeEvent()"></i></div>
        <div class="header-title">My Profile</div>
    </div>
    <div class="profile-page-body">
        <div class="profile-img-set">
            <img src="../../assets/images/imge.jpg" alt="">
        </div>
        <div class="profile-card">
            <div class="data-item-set">
                <div class="data-value">Salman Saif</div>
                <div class="data-title">Name</div>
            </div>
            <div class="data-item-set">
                <div class="data-value">saif@gmail.com</div>
                <div class="data-title">Email</div>
            </div>
            <div class="data-item-set">
                <div class="data-value">Venkat.t@123</div>
                <div class="data-title">User Name</div>
            </div>
            <div class="data-item-set">
                <div class="data-value">9553338453</div>
                <div class="data-title">Contact</div>
            </div>
            <div class="data-item-set">
                <div class="data-value">Visakhapatnam</div>
                <div class="data-title">Address</div>
            </div>
        </div>
    </div>
    <div class="profile-page-footer">
        <a class="actiion-btn">Edit</a>
        <a class="actiion-btn">Logout</a>
    </div>
</div>