<div class="back-icon" (click)="back()">
    <img src="assets/images/login/back.png" alt="login image backgroung">
</div>
<div class="main">
    <div class="main-card" *ngIf="!resetMode">
        <!-- <div class="step-class">
            STEP :3/7
        </div> -->
        <div class="set-password-text">
            Login Credentials
        </div>
        <form [formGroup]="loginForm">
            <div class="input-card" *ngIf="!isResetClicked">
                <div>
                    <input type="text" class="form-controlOne" placeholder="Enter Gmail" formControlName="mail_id"
                        (blur)="onBlur('mail_id')">
                    <p class="is-error"
                        *ngIf="blurControls['mail_id'] && commonService.isValidControl(loginForm, 'mail_id')">
                        {{commonService.getErrorMsg(loginForm, 'mail_id', 'Gmail')}}
                    </p>
                </div>
                <div>
                    <input type="password" class="form-controlOne" placeholder="Enter password"
                        formControlName="password" (blur)="onBlur('password')">
                    <p class="is-error"
                        *ngIf="blurControls['password'] && commonService.isValidControl(loginForm, 'password')">
                        {{commonService.getErrorMsg(loginForm, 'password', 'Password')}}
                    </p>
                    <p class="is-error"
                        *ngIf="wrongCreds && !(blurControls['password'] && commonService.isValidControl(loginForm, 'password'))">
                        {{wrongCreds}}</p>
                </div>
            </div>
            <div class="input-card">
                <div *ngIf="isResetClicked">
                    <input type="text" class="form-controlOne" formControlName="mail_id" placeholder="Registered Gmail">
                    <p class="is-error"
                        *ngIf="blurControls['mail_id'] && commonService.isValidControl(loginForm, 'mail_id')">
                        {{commonService.getErrorMsg(loginForm, 'mail_id', 'Gmail')}}
                    </p>
                </div>
                <!-- <div *ngIf="isResetClicked && isGmailIdEntered">
                <input type="text" type='number' class="digit-box">
                <input type="text" type='number' class="digit-box">
                <input type="text" type='number' class="digit-box">
                <input type="text" type='number' class="digit-box">
                <input type="text" type='number' class="digit-box">
            </div> -->
            </div>
        </form>
        <div class="forgot-password" *ngIf="!isResetClicked">
            Forgot password?<span class="resetBtn" (click)="resetPassword()"> Reset</span>
        </div>
        <!-- <div class="forgot-password" *ngIf="isResetClicked && isGmailIdEntered">
            Didn't received code ?<span class="resetBtn"> resend</span>
        </div> -->
    </div>
    <div class="main-card" *ngIf="resetMode">
        <form [formGroup]="resetForm">
            <div class="input-card">
                <div class="set-password-text">
                    Reset Password
                </div>
                <div *ngIf="!inReset">
                    <input type="password" class="form-controlOne" placeholder="Enter password"
                        formControlName="password" (blur)="onBlur('password')" (input)="passwordComplexity($event)">
                    <p class="is-error"
                        *ngIf="blurControls['password'] && commonService.isValidControl(resetForm, 'password')">
                        {{commonService.getErrorMsg(resetForm, 'password', 'Password')}}
                    </p>
                </div>
                <div *ngIf="!inReset">

                    <div class="side-by-side">
                        <ng-container>
                            <div class="password-strength"
                                [ngClass]="{'password-cond-satisfied': passwordStrength.charLength}"></div>
                            <div class="password-strength"
                                [ngClass]="{'password-cond-satisfied': passwordStrength.capitalChar}"></div>
                            <div class="password-strength"
                                [ngClass]="{'password-cond-satisfied': passwordStrength.specialChar}"></div>
                            <div class="password-strength"
                                [ngClass]="{'password-cond-satisfied': passwordStrength.digit}"></div>
                        </ng-container>
                    </div>
                    <ng-container>
                        <div class="side-by-side">
                            <div class="password-rules">
                                <span class="dot">.</span>
                                8+ Char's
                            </div>
                            <div class="password-rules">
                                <span class="dot">.</span>
                                1+ Capital's
                                <div>
                                </div>
                            </div>
                        </div>
                        <div class="side-by-side">
                            <div class="password-rules">
                                <span class="dot">.</span>
                                1+ Symbol
                            </div>
                            <div class="password-rules">
                                <span class="dot">.</span>
                                1+ Numbers

                            </div>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="inReset">
                    <input type="password" class="form-controlOne" placeholder="Confirm password"
                        formControlName="repassword" (blur)="onBlur('repassword')">
                    <p class="is-error"
                        *ngIf="blurControls['repassword'] && commonService.isValidControl(resetForm, 'repassword')">
                        {{commonService.getErrorMsg(resetForm, 'repassword', 'Confirm Password')}}
                    </p>
                </div>
            </div>
        </form>
    </div>

    <div class="sign-up-logo">
        <img src="assets/images/login/login details.svg" alt="Sign up Image Background">
    </div>
    <div *ngIf="!resetMode">
        <button class="btn-continue" *ngIf="isResetClicked" (click)="sendOtp()">Reset password</button>
        <button class="btn-continue" *ngIf="!isResetClicked" (click)="authenticate()">Login</button>
        <!-- <button class="btn-continue" *ngIf="isGmailIdEntered" (click)="verifyOtp()">Verify</button> -->
    </div>
    <div *ngIf="resetMode">
        <button class="btn-continue" *ngIf="!inReset" (click)="gotoConfirm()">Next</button>
        <button class="btn-continue" *ngIf="inReset" (click)="resetConfirm()">Reset</button>
    </div>
</div>
<ng-container *ngIf="openModal">
    <app-modal [modalBody]="'Password reset successful.'" [modalTitle]="'Reset status'" [openModalCondition]=true
        [showClose]="false" [confirmContent]="'Login'" (closeModal)="modalEvent($event)"
        (confirmModal)="confirmEvent($event)"></app-modal>
</ng-container>
<ng-container *ngIf="incorrectMatch">
    <app-modal modalBody="Passwords doesn't match." modalTitle="Incorrect Password" [openModalCondition]=true
        [showConfirmButton]="false" (closeModal)="modalEvent($event)"></app-modal>
</ng-container>
<ng-container *ngIf="verify">
    <app-modal modalBody="User not verified." modalTitle="Account status" [openModalCondition]=true
        [confirmContent]="'Verify OTP'" (closeModal)="modalEvent($event)"
        (confirmModal)="sendOtp(); this.otpType='verify'"></app-modal>
</ng-container>