<div class="login-wrapper">
    <div class="logo">
        <img src="assets/images/login/logo-black.svg" alt="Sar Logo">
    </div>
    <div class="login-title-set">
        <div class="login-main-title">Welcome to</div>
        <div class="login-sub-title"><span>Momotaro</span> UI Kit</div>
    </div>
    <div class="login-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, labore.
    </div>
    <div class="logon-img-wrapper">
        <img src="assets/images/login/ListenMusic.svg" alt="login image backgroung">
    </div>

    <button class="custom-btn login-btn">Get Started</button>
    <div class="login-account">
        Already have account? <a class="">Sign in</a>
    </div>
</div>