<div class="login-wrapper">
    <div class="logo">
        <img src="assets/images/login/logo-black.svg" alt="Sar Logo">
    </div>
    <div class="login-title-set">
        <div class="login-main-title">Glad to See You Here! </div>
        <div class="login-sub-title"><span>Welcome</span>
            To Musical Heaven</div>
    </div>
    <div class="login-desc">
         Get ready to immerse yourself in a world of rhythm and harmony.    </div>
    <div class="logon-img-wrapper">
        <img src="assets/images/login/ListenMusic.svg" alt="login image backgroung">
    </div>

    <button class="custom-btn login-btn" (click)="signUpPage()">Get Started</button>
    <div class="login-account">
        Already have account? <a (click)="login()">Sign in</a>
    </div>
</div>