<!-- Modal -->
<div class="modal fade modal-sm" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content smaller-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEvent()"
          *ngIf="showClose">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <ng-container [formGroup]="inputFieldForm">
        <div *ngIf="inputNeeded && !radioButtonsNeeded">
          <input class="form-control" formControlName="inputData">
        </div>

        <div class="modal-body" *ngIf="radioButtonsNeeded" >
          <div class="form-check">
            <input type="radio" id="radio1" value="0" class="form-check-input" formControlName="radioValue">
            <label for="radio1" class="form-check-label" (click)="connectedAsHost()">Host</label>
          </div>
          <!-- data-dismiss="modal"  -->
          <div class="form-check">
            <input type="radio" id="radio2" value="1" class="form-check-input" formControlName="radioValue">
            <label for="radio2" class="form-check-label" (click)="connectedAsGuest()">Guest</label>
          </div>
        </div>
      </ng-container>

      <!-- data-dismiss="modal" -->

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeEvent()">Close</button>
        <!-- only for normal model -->
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="confirmEvent('navigateToMusic')"
          *ngIf="showConfirmButton && !inputNeeded && !radioButtonsNeeded ">{{confirmContent}}</button>
          <!-- model with input field -->
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="confirmEvent('withInput')"
          *ngIf="showConfirmButton && inputNeeded && !radioButtonsNeeded">{{confirmContent}}</button>
          <!-- model with radio button and as host -->
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="confirmEvent('withRadio')"
          *ngIf="showConfirmButton && !inputNeeded && radioButtonsNeeded">{{confirmContent}}</button>
          <!-- model with radio button and as guest -->
      </div>
    </div>
  </div>
</div>

