  <!-- <input value =12345 #joinId>
<button (click)="joinRoom(joinId.value)"> join</button>
<button (click)="playStream()"> stream</button> -->
<div class="chat-container">
    <div class="content-header">
        <div class="content-header-left">
            <div class="content-icon">
                <i class="fas fa-chevron-left" (click)="navigateToMainMusic()"></i>
            </div>
            <div class="content-main">
                <!-- <div class="image"> 
                    <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/examination-pad/j/u/e/cute-cartoon-girl-flipdecor-original-imagz3m68hukkphh.jpeg?q=20&crop=false" alt="user 1">
                </div> -->
                <!-- <div class="name">
                    <div class="title ">
                        {{userID}}
                    </div>
                    <div class="sub">
                        4 min active now
                    </div>  
                </div> -->
            </div>
        </div>
        <div class="content-header-right">
            <i   class="fas fa-headphones-alt fa-2x" (click)='groupSessionStarted()'></i>
            <!-- (click)='groupSessionStared()' -->
        </div>
    </div>


    <!-- <audio controls [src]="audioUrl">
        Your browser does not support the audio tag.
      </audio> -->
      
    <div class="content-body">
        <div class="chat-list" *ngFor="let item of messagesArray.reverse()">
            <ul >
                <li class="chat-list-item" [ngClass]="{'sender' : item.userId==userID}">                    
                    <div class="chat-list-item-details">
                        <div class="sender-image" *ngIf="item.userId!=userID">
                            <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/examination-pad/j/u/e/cute-cartoon-girl-flipdecor-original-imagz3m68hukkphh.jpeg?q=20&crop=false" alt="">
                        </div>
                        <div class="sender-image" *ngIf="item.userId==userID">
                            <img [src]=profilePic alt="">
                        </div>
                        <div class="chat-list-item-details-set">
                            <div  class="sender-mess">
                            {{item?.message}}
                            </div>
                            <div class="sender-date">
                                12:28
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-footer">
        <div class="input-data"  [formGroup]="messageForm">
            <input type="text" name="" placeholder="Message" formControlName="message"e>
        </div>
        <div class="input-send" >
            <i class="fas fa-paper-plane"  (click)="sendMessage()"></i>
        </div>
    </div>
</div>

