<!-- <i class="fa-solid fa-moon"></i> -->
<div class="chat-container">
    <div class="content-header">
        <div class="content-icon">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="content-main">
            <div class="image"> 
                <img src="assets/images/imge.jpg" alt="user 1">
                <!-- here in the alt need to replace the one who started the chat -->
            </div>
            <div class="name">
                <div class="title ">
                    Test USer
                    <!-- current user name -->
                </div>
                <div class="sub">
                    4 min active now
                </div>  
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="chat-list">
            <ul>
                <li class="chat-list-item">                    
                    <div class="chat-list-item-details">
                        <div class="sender-image">
                            <img src="assets/images/imge.jpg" alt="">
                        </div>
                        <div class="chat-list-item-details-set">
                            <div class="sender-mess">
                                hi
                            </div>
                            <div class="sender-date">
                                12:28
                            </div>
                        </div>
                    </div>
                </li>
                <li class="chat-list-item sender">
                    <div class="chat-list-item-details">
                        <div class="sender-image">
                            <img src="assets/images/rece.jpg" alt="">
                        </div>
                        <div class="chat-list-item-details-set">
                            <div class="sender-mess">
                                hi Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque culpa sapiente hic perferendis doloribus fugit ex! Perferendis repellendus eum soluta nam omnis, cupiditate doloribus alias, non perspiciatis libero maxime hic?
                            </div>
                            <div class="sender-date">
                                12:28
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-footer">
        <div class="input-data">
            <input type="text" name="" placeholder="Message">
        </div>
        <div class="input-send">
            <i class="fas fa-paper-plane"></i>
        </div>
    </div>
</div>

