/* Add this to your CSS file */
.smaller-modal-content {
    max-width: 300px; /* Set the desired maximum width */
    margin: auto; /* Center the modal content */
    z-index: 111;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  